﻿.tab {
    display: none;
}
button {
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}

input[type=submit] {
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
}

#EmployeeTable {
    border: 1px solid #ddd;
    width: auto;
    border-collapse: collapse;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 60%;
}
