﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="main.js">
    </script>
    <h1 style="text-align: center">Job Application Form</h1>
    <form>
        <fieldset>
            <legend>
                <b>Basic Details</b>
            </legend>

            <table align="center">

                <tr>
                    <td><label for="firstname">First Name:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="firstname" id="firstname" disabled></td>
                    <td><label for="lastname">Last Name:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="lastname" id="lastname" disabled></td>
                </tr>
                <tr>
                    <td><label for="designation">Designation:</label></td>
                    <td><input type="text" name="designation" id="designation" disabled></td>
                    <td><label for="addr1">Address Line 1:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="address" id="addr1" disabled></td>
                </tr>
                <tr>
                    <td><label for="email">Email:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="email" id="email" disabled></td>
                    <td><label for="addr2">Address Line 2:</label></td>
                    <td><input type="text" name="addr2" id="addr2" disabled></td>
                </tr>

                <tr>
                    <td><label for="phone">Phone Number:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="phone" id="phone" disabled></td>
                    <td><label for="city">City:</label></td>
                    <td><input type="text" name="city" id="city" disabled></td>
                </tr>

                </tr>

                <tr>
                    <td><label for="gender" id="gender">Gender:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="gender" id="gender" disabled "></td>
                    <td><label for="state">State:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="state" id="maritalStatus" disabled "></td>

                </tr>

                <tr>
                    <td><label for="maritalStatus">Marital status:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="maritalStatus" id="maritalStatus" disabled "></td>
                    <td><label for="zip">Zip Code: <span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="zip" id="zip" disabled "></td>

                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><label for="dob">Date of Birth:<span style="color:#ff0000">*</span></label></td>
                    <td><input type="text" name="date_of_birth" id="dob" disabled></td>
                </tr>

            </table>

        </fieldset>

        <!--<br><br>

        <fieldset class="box2">
            <legend>Education Detail</legend>
            <table id="edutbl">
                <% for(let i= 0; i
                <eduList.length ;i++){%>
                    <tr>

                        <td id="col0">
                            type:
                            <select name="education[<%=i%>][type]" id="education">
                                <option value="ssc result"  <%if(eduList[i].value== 'ssc result'){%> selected <%}%>>SSC</option>
                                <option value="hsc result"  <%if(eduList[i].value== 'hsc result'){%> selected <%}%>>HSC</option>
                                <option value="bachelor degree"  <%if(eduList[i].value== 'bachelor degree'){%> selected <%}%>>bachelors's degree</option>
                                <option value="master degree"  <%if(eduList[i].value== 'master degree'){%> selected <%}%>>master's degree</option>
                            </select>
                        </td>
                        <td id="col1">Name Of Board: <input type="text" id="board" name="education[<%=i%>][nameOfBoard]" value="<%= eduList[i].name_board%>"></td>
                        <td id="col2">course name: <input type="text" id="course" name="education[<%=i%>][course]" value="<%= eduList[i].course_name%>"></td>
                        <td id="col3">university: <input type="text" id="university" name="education[<%=i%>][university]" value="<%= eduList[i].university%>"></td>
                        <td id="col4">Passing Year: <input type="text" id="pass" name="education[<%=i%>][passingYear]" value="<%= eduList[i].pass_year%>"></td>
                        <td id="col5">Percentage: <input type="text" id="per" name="education[<%=i%>][percentage]" value="<%= eduList[i].percentage%>"></td>
                        <td><input type="button" value="add row" onclick="addrows() " /></td>
                        <td id="col6"><input type="button" value="delete row" onclick="deleterows(this)" /></td>
                    </tr>
                    <%}%>


            </table>

        </fieldset>

        <br><br>

        <fieldset>
            <legend>
                <b>Work Experience</b>
            </legend>

            <table align="center" id="wrkexp">
                <% for(let i= 0; i
                <workList.length ;i++){%>

                    <tr>

                        <td id="colw0"> Company Name:<input type="text" name="workexp[<%=i%>][workCompanyName]" id="workCompanyName" value="<%= workList[i].company_name%>"></td>
                        <td id="colw1"> Designation:<input type="text" name="workexp[<%=i%>][workDesignation]" id="workDesignation" value="<%= workList[i].designation%>"></td>
                        <td id="colw2">From:<input type="date" id="workFrom" name="workexp[<%=i%>][workFrom]" value="<%= workList[i].from_d.toISOString().slice(0, 10)%>"></td>
                        <td id="colw3">To:<input type="date" id="workTo" name="workexp[<%=i%>][workTo]" value="<%= workList[i].to_d.toISOString().slice(0, 10)%>"></td>
                        <td><input type="button" value="add row" onclick="addrows2()" /></td>
                        <td id="colw4"><input type="button" value="delete row" onclick="deleterows2(this)" /></td>

                    </tr>
                    <%}%>


            </table>

        </fieldset>

        <br><br>

        <table align="center">
            <tr>
                <td>
                    <fieldset>
                        <legend>
                            <b>Language Known</b>
                        </legend>
                        <table align="center" id="languageKnown">
                            <%for(let i= 0; i
                            <array.length ;i++){%>
                                <tr>
                                    <td id="colLang0">
                                        <select name="languageKnown[<%=i%>][language]" id="language">
                                            <option value="english" <%if(array[i][0]=="english"){%> selected <%}%>>english</option>
                                            <option value="hindi" <%if(array[i][0]=="hindi"){%> selected <%}%>>hindi</option>
                                            <option value="gujarati" <%if(array[i][0]=="gujarati"){%> selected <%}%>>gujarati</option>
                                        </select>
                                    </td>
                                    <td id="colLang1">
                                        <input type="checkbox" id="read" name="languageKnown[<%=i%>][read]"  <%if(array[i][1]=="on"){%> checked="true" <%}%> > Read
                                        <input type="checkbox" id="write" name="languageKnown[<%=i%>][write]" <%if(array[i][2]=="on"){%> checked="true" <%}%>> Write
                                        <input type="checkbox" id="speak" name="languageKnown[<%=i%>][speak]" <%if(array[i][3]=="on"){%> checked="true" <%}%>> Speak
                                    </td>
                                    <td><input type="button" value="add" onclick="addrows4()" /></td>

                                    <td id="colLang2"><input type="button" value="-" onclick="deleterows4(this)" /></td>
                                </tr>
                                <%}%>


                        </table>
                    </fieldset>
                </td>

                <td>
                    <fieldset>
                        <legend><b>Technology Known</b></legend>
                        <table align="center" id="technologies">
                            <%for(let i= 0; i
                            <techList.length ;i++){%>
                                <tr>
                                    <td id='colTech0'>
                                        <select name="technologies[<%=i%>][tech]" id="tech">
                                            <option value="PHP" <%if(techList[i].name== 'PHP'){%> selected <%}%>>PHP</option>
                                            <option value="mysql" <%if(techList[i].name== 'mysql'){ %> selected <%}%>>mysql</option>
                                            <option value="laravel" <%if(techList[i].name== 'laravel'){ %> selected <%}%>>laravel</option>
                                            <option value="oracle" <%if(techList[i].name== 'oracle'){ %> selected <%}%>>oracle</option>
                                        </select>
                                    </td>
                                    <td id='colTech1'>

                                        <input type="radio" name="technologies[<%=i%>][techLevel]" value="beginer" <%if(techList[i].value.slice(techList[i].value.length - 7)== "beginer" ){%> checked <%}%>> Beginer
                                        <input type="radio" name="technologies[<%=i%>][techLevel]" value="mediator" <%if(techList[i].value.slice(techList[i].value.length - 8)== "mediator" ){%> checked <%}%>> Mediocre
                                        <input type="radio" name="technologies[<%=i%>][techLevel]" value="expert" <%if(techList[i].value.slice(techList[i].value.length - 6) == 'expert' ){%> checked <%}%>> Expert
                                    </td>
                                    <td><input type="button" value="add" onclick="addrows5()" /></td>

                                    <td id="colTech2"><input type="button" value="-" onclick="deleterows5(this)" /></td>
                                </tr>
                                <%}%>



                        </table>
                    </fieldset>

                </td>

            </tr>
        </table>

        <br><br>

        <fieldset>
            <legend> <b>Refeneces</b></legend>
            <table align="center" id="reference">
                <%for(let i= 0; i
                <refList.length ;i++){%>
                    <tr>

                        <td id='colr0'>Name:<input type="text" name="reference[<%=i%>][refName]" value="<%= refList[i].name%>"></td>
                        <td id='colr1'>Contact number:<input type="text" name="reference[<%=i%>][refContact]" value="<%= refList[i].contact%>"></td>
                        <td id='colr2'>Relation:<input type="text" name="reference[<%=i%>][refRelation]" value="<%= refList[i].relation%>"></td>
                        <td><input type="button" value="add row" onclick="addrows3() " /></td>
                        <td id="colr3"><input type="button" value="delete row" onclick="deleterows3(this)" /></td>

                    </tr>
                    <%}%>
            </table>
        </fieldset>

        <br> <br>
        <fieldset>
            <legend><b>Preference</b></legend>
            <table align="center">
                <tr>
                    <td rowspan="3"><label for="location">Prefered Location:</label></td>
                    <td rowspan="3">
                        <select name="location[]" id="location" multiple>
                            <option value="gujarat" <%for(let i= 0; i<prefList.length ;i++){if(prefList[i].loc_name== 'gujarat'){%> selected <%}}%> >Gujarat</option>
                            <option value="goa" <%for(let i= 0; i<prefList.length ;i++){if(prefList[i].loc_name== 'goa'){%> selected <%}}%> >Goa</option>
                            <option value="hariyana" <%for(let i= 0; i<prefList.length ;i++){if(prefList[i].loc_name== 'hariyana'){%> selected <%}}%>>Hariyana</option>
                            <option value="assam" <%for(let i= 0; i<prefList.length ;i++){if(prefList[i].loc_name== 'assam'){%> selected <%}}%>>Assam</option>
                        </select>
                    </td>
                    <td><label for="noticePeriod">Notice Period:</label></td>
                    <td><input type="text" name="noticePeriod" id="noticePeriod" value="<%= prefList[0].notice_period%>"></td>
                    <td rowspan="3"><label for="department">Department:</label></td>
                    <td rowspan="3">
                        <select name="department" id="department1">
                            <option value="design" <%if(prefList[0].dept_id== 'design'){%> selected <%}%>>design</option>
                            <option value="dev"  <%if(prefList[0].dept_id== 'dev'){%> selected <%}%>>Development</option>
                            <option value="marketing"  <%if(prefList[0].dept_id== 'marketing'){%> selected <%}%>>Marketing</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="currCTC">Current CTC:</label></td>
                    <td><input type="text" name="currCTC" id="currCTC" value="<%= prefList[0].curr_ctc%>"></td>
                </tr>
                <tr>
                    <td><label for="expCTC">Expected CTC:</label></td>
                    <td><input type="text" name="expCTC" id="currCTC" value="<%= prefList[0].exp_ctc%>"></td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend><b>resume</legend>
            <table align="center">
                <tr>
                    <td><label for="resume">Resume:</label></td>
                    <td><input type="file" id="resume" name="resume"></td>
                </tr>

            </table>

        </fieldset>
        <br><br>-->

    </form>
    <script></script>
    <script>
        window.onload = viewEmployeeDetails(5);
    </script>

</body>
</html>